<ion-content>
  <div class="message-wrapper">
    <div class="message-header">
      <div><h2 class="message-delete ion-text-center">Видалити нотатку?</h2></div>
    </div>
    <div class="message-actions">
      <ion-button color="medium" (click)="closeDeleteMessage()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-button color="medium" (click)="removeNote()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
