.message-wrapper {
  background-color: var(--ion-color-element-background);
  color: var(--ion-text-dark-color);
  height: 100%;
}

.message-delete {
  padding: 25px 0;
}

.message-actions {
  display: flex;
  justify-content: space-around;
}
