<ion-content>
  <div class="levels-wrapper" (click)="close()">
    <div class="content">
      <div class="modal-title">
        <h3 class="ion-text-center">{{timeStamp() | monthName: day}}</h3>
        <h3 class="ion-text-center">Рівень {{month.levels[day - 1]}}</h3>
      </div>
      <ul class="emoji-list">
        <li *ngFor="let item of emotionList; let index = index" (click)="selectedLevel(item.level)"
            [class]="item.id">
          <div class="emoji-item-level">
            <div class="emoji-item-degree">{{item.level}}</div>
          </div>
          <div class="emoji-item-emoji" [innerHTML]="item.emoji"></div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>

