@import "../../../../styles/emoji-grid";

ion-content::part(background) {
  background-color: rgba(0, 0, 0, 0);
}

.levels-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--ion-background-color);
}

.emoji-list {
  gap: 1vw;
}

h3 {
  margin: 0;
  padding: 0;
  color: var(--ion-text-lihgt-color);
}
.modal-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.emoji-item-degree {
  height: 15px;
  width: 15px;
  line-height: 1.3;
}

@media(min-width: 576px) {
  .emoji-list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
            "neutral calm confidence satisfy enthusiasm joy"
            "neutral sorrow discomfort anxiety despair hopeless";
  }
  .modal-title {
    flex-direction: row;
  }
}




