<ion-content>
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{{'auth.login' | translate}}</h1>
      <ion-button size="large" routerLink="/start">
        Demo
      </ion-button>
      <ion-button size="large" (click)="auth.gitHubAuth()">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
      <ion-button size="large" (click)="auth.googleAuth()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>


