<app-header [headerSetting]="{backBtn: true, link: '/notebook'}">
  <div class="header-actions">
    <ion-button color="medium" (click)="removeNote()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </div>
</app-header>
<ion-content>
  <div class="wrapper">
    <div class="date"><h5>{{noteBookService.noteData.timestamp | monthName: 'full'}}</h5></div>
    <div class="title">
      <input type="text" [placeholder]="'notebook.title' | translate" [(ngModel)]="inputValue" class="input-title">
    </div>
    <div class="content">
      <textarea [(ngModel)]="textAreaValue" [placeholder]="'notebook.text' | translate" class="text-content"></textarea>
    </div>
  </div>
</ion-content>
