<app-header [headerSetting]="{backBtn: true, link: '/notebook'}">
  <ion-button color="medium" routerLink="/notebook">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-button>
</app-header>
<ion-content>
  <div class="wrapper">
    <div class="title">
      <input class="input-title" type="text" [placeholder]="'notebook.title' | translate" [(ngModel)]="inputValue">
    </div>
    <div class="content">
      <textarea [(ngModel)]="textAreaValue" [placeholder]="'notebook.text' | translate" class="text-content"></textarea>
    </div>
  </div>
</ion-content>
