.auth-log-out-style::part(content) {
  border-radius: 10px;
  background-color: var(--ion-color-element-background);
  --height: 60vh;
  --width: 60vw;
}

.mood-levels-style::part(content) {
  display: grid;
  align-items: center;
  --height: 100vh;
  --width: 100vw;
  background-color: rgba(0, 0, 0, 0);
}

.mood-emoji-style::part(content) {
  --width: 80%;
  --height: 80%;
  border-radius: 10px;
}

.balance-editor-modal::part(content) {
  display: grid;
  align-items: center;
  --height: 100vh;
  --width: 100vw;
  background-color: rgba(0, 0, 0, 0);
}

.balance-area-modal::part(content) {
  --height: 80px;
  --width: 180px;
  border-radius: 10px;
}

.notebook-save-message-style::part(content) {
  --height: 150px;
  --width: 250px;
  border-radius: 10px;
  background-color: var(--ion-color-element-background);
}

.notebook-delete-message-style::part(content) {
  --height: 150px;
  --width: 250px;
  border-radius: 10px;
  background-color: var(--ion-color-element-background);
}

.numerology-description-style::part(content) {
  --width: 80%;
  --height: 80%;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .mood-emoji-style::part(content) {
    --width: 90%;
    --height: 60%;
  }
}
