<app-header [headerSetting]="{backBtn: true, link: '/numerology'}">
  <ion-button color="medium"
              [routerLink]="['/numerology/description', birthday]">
    {{'numerology.description' | translate}} {{birthday | date: 'dd.MM.yyyy'}}
  </ion-button>
</app-header>
<ion-content>
  <div class="wrapper">
    <div class="container">
      <div class="parent-square">
        <div class="small-square" *ngFor="let item of numbersOfTheSquare"
             (click)="openModalDescription(item.title, item.description)">
          <div class="square-content">
            <div class="square-content-title">{{item.title | translate}}</div>
            <div class="square-content-result">{{item.result}}</div>
          </div>
        </div>
      </div>

      <div class="lines-block">
        <div class="small-square" *ngFor="let item of numbersOfRowAndCol"
             (click)="openModalDescription(item.title, item.description)">
          <div class="square-content">
            <div class="square-content-title">{{item.title | translate}}</div>
            <img class="square-content-img" [src]="item.img">
            <div class="square-content-result">{{item.result}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
